* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.visible {
    left: 0; /* Afficher le menu */
    opacity: 1;
}

nav a:hover {
    color: #cccccc;
}

header.visible {
    opacity: 1;
}

#background-video {
    position: absolute; /* Changer de fixed à absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1;
    display: block;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 100;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: translate(-50%, -50%) scale(1.5);
}

@keyframes grow-and-fade {
    0% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(15);
        opacity: 0;
    }
}

.logo-growing {
    animation: grow-and-fade 1s forwards;
}

#video-container {
    position: relative; /* Changer de fixed à relative */
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre visible */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; /* Ajusté pour un meilleur alignement */
    opacity: 0;
    transition: opacity 1s ease;
    background-color: #000; /* Fond pour le contenu */
}

#content.visible {
    opacity: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Tabac Mono', sans-serif;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

body {
    font-family: 'Tabac Mono', sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: overflow 0.1s ease;
}

body.scrollable {
    overflow: auto;
    height: auto;
}



#menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    transform: scale(0.75);
    display: none;
}

#menu-icon-blue {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    transform: scale(0.75);
    display: none;
}


header {
    position: fixed;
    top: 0;
    left: -250px; /* Caché initialement sur la gauche */
    height: 100%;
    width: 250px;
    z-index: 10;
    transition: left 0.5s ease;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre semi-transparent */
}

nav {
    display: flex;
    flex-direction: column; /* Orientation verticale */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 30px 20px; /* Espace en haut pour ne pas chevaucher l'icône */
    height: 100%;
    background-color: rgba(244, 246, 247, 100); /* Fond sombre semi-transparent */
}

nav a {
    color: rgba(53,145,220, 100); /* Couleur des liens */
    text-decoration: none;
    margin: 15px 0; /* Espacement vertical entre les liens */
    font-size: 1.2rem;
    transition: color 0.3s ease;
    width: 100%;
}

nav a:hover {
    color: rgba(154,201,235, 100);
}

header.visible {
    left: 0; /* Afficher le menu */
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(244, 246, 247, 100);
    color: rgba(244, 246, 247, 100);
    text-align: center;
    padding: 12px;
    z-index: 1000;
    display: none;
}

#group-photo-blue {
    object-fit : cover;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    display: block;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}